@define-color foreground #cdd6f4;
@define-color background #1a1b26;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: iMWritingDuo Nerd Font Propo;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#power-profiles-daemon,
#language,
#mpris,
#user,
#custom-power-menu {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#custom-expand-icon {
  padding: 0 0.1em;
}

tooltip {
  padding: 2px;
}

#window {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

window#waybar.kitty {
    background-color: #fff;
    color: #666;
}

window#waybar.zen {
    background-color: #eeeeee;
    color: #000000;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#power-profiles-daemon.power-saver {
  color: #090;
}

#power-profiles-daemon.balanced {
  color: #0ab;
}

#power-profiles-daemon.performance {
  color: #dd0;
}

#mpris.paused {
  color: #995;
}
