[Desktop Entry]
Type=Application
Name=Electron 37
Icon=electron37
Exec=electron37 %u
Categories=Development;GTK;
StartupNotify=true
Name[en]=Electron 37
Name[en_US]=Electron 37
Name[en_US.UTF-8]=Electron 37
NoDisplay=true
Terminal=false

