[Desktop Entry]
Name=Suika Box
Comment=Vault
Exec=wezterm -e nvim -- 'Documents/Suika Box/inbox.md'
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false

