spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "swayosd-server"
// spawn-at-startup "pkexec swayosd-libinput-backend"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "flatpak" "run" "it.mijorus.smile" "--start-hidden"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "cliphist" "wipe"
spawn-at-startup "wlsunset" "-S" "05:45" "-s" "18:00"
spawn-at-startup "udiskie"

environment {
    // DISPLAY ":0"
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    // QT_STYLE_OVERRIDE "kvantum"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    OZONE_PLATFORM "wayland"
    // PROTON_ENABLE_WAYLAND "1"
    CHROMIUM_FLAGS "--enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4"
    XDG_DATA_DIRS "~/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/share:/usr/local/share:~/.local/share"
    CLIPHIST_MAX_ITEMS "20"
    TERMINAL "kitty"
    BEMOJI_PICKER_CMD "fuzzel -d \"emojis\""
    XCOMPOSEFILE "~/.XCompose"
    EDITOR "nvim"
}
