// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 2
    background-color "transparent"
    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.92
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    default-column-width { proportion 0.66667; }

    focus-ring {
        off
    }

    border {
        on

        width 1
        // active-color "#8A2BE2"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#ab0000"

        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // on

        // By default, the shadow draws only around its window, and not behind it.
       // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // outer gaps (for the entire workspace-view)
    struts {
        left 4
        right 4
        top 0
        bottom 0
    }
}
